<div class="show-hide-message fixed" ng-show="ticket.message">
	<div class="row alert alert-info alert-dismissable">
		<div class='col-xs-11'>{{ ticket.message }}</div>
		<button type="button" class="close" ng-click="ticket.message = ''" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<div class="page-header">
	<h1>
		Tickets 
		<a href="/tickets" class="btn btn-default" ng-if="main.location == '/tickets/all'">
			<span class="glyphicon glyphicon-chevron-left"></span> 
			Back to Active Tickets
		</a>
		<a href="/tickets/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			New Ticket
		</a>
		<a href="/tickets/all" class="btn btn-default" ng-if="main.location != '/tickets/all'">
			<span class="glyphicon glyphicon-edit"></span> 
			All Tickets
		</a>
		
	</h1>

</div>

<div class="jumbotron text-center" ng-show="ticket.processing && !ticket.tickets">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<h3>Loading Tickets...</h3>
</div>

<!--
<div class="row show-hide-message" ng-show="ticket.message">
	<div class="col-sm-12">
		<div class="alert alert-info alert-dismissable">
			{{ ticket.message }}
			<button type="button" class="close" ng-click="ticket.message = ''" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
</div>
-->

<div class="jumbotron text-center" ng-show="!ticket.processing && ( ticket.tickets.length < 1 || !ticket.tickets )">
	<p>No tickets are available at this time.</p>
</div>

<div class="form-group has-feedback" ng-show="ticket.tickets && ticket.tickets.length > 0">
	<div class="col-sm-5">
		<input type="search" class="form-control search-box" name="searchBox" ng-model="searchBox" placeholder="Search for..." />
		<span class="form-control-feedback" aria-hidden="true"></span>
	</div>
</div>



<table ng-cloak id="tickets" class="table table-bordered tbody-striped" ng-show="ticket.tickets && ticket.tickets.length > 0">
	<thead>
		<tr>
			<th></th>
			<th>Company</th>
			<th>Status</th>
			<th>Tag #</th>	
			<th>Manufacturer</th>
			<th>Model</th>
		</tr>
	</thead>
	<tbody ng-repeat="_ticket in ticket.tickets | filter:searchBox">
			<tr>
				<td><a class='btn btn-primary btn-block' ng-href='/tickets/{{ _ticket.id }}'>View Ticket</a></td>
				<td>{{ _ticket.customer }}</td>
				<td>{{ _ticket.status }}</td>
				<td>{{ _ticket.indicator_tag }}</td>
				<td>{{ _ticket.indicator_manu }}</td>
				<td>{{ _ticket.indicator_model }}</td>
			</tr>
			<tr>
				<td>
					<div class="dropdown">
						<a class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" href="#" role="button">
							<i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Manage
						</a>
						<ul class="dropdown-menu" style="width: 100%;">
							<li>
								<a href="#" ng-href="/tickets/{{ _ticket.id }}/edit">
									<i class="glyphicon glyphicon-pencil"></i> Edit
								</a>
							</li>
							<li ng-if="main.user.role === 'admin'">
								<a href="#" ng-click="ticket.deleteTicket(_ticket.id)">
									<i class="glyphicon glyphicon-trash"></i> Delete
								</a>
							</li>
						</ul>
					</div>
				</td>
				<td colspan="2"><i ng-if="_ticket.created_at" title="{{_ticket.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}">Created: {{ _ticket.created_at | amTimeAgo }} by <span ng-if="_ticket.created_by">{{ _ticket.created_by }}</span><span ng-if="!_ticket.created_by">Unknown</span></i></td>
				<td colspan="3"><i ng-if="_ticket.updated_at" title="{{_ticket.updated_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}">Last Updated: {{ _ticket.updated_at | amTimeAgo }} by <span ng-if="_ticket.updated_by">{{ _ticket.updated_by }}</span><span ng-if="!_ticket.updated_by">Unknown</span></i></td>
			</tr>
	</tbody>
</table>
