<div class="show-hide-message fixed" ng-show="ticket.message">
	<div class="row alert alert-info alert-dismissable">
		<div class='col-xs-11'>{{ ticket.message }}</div>
		<button type="button" class="close" ng-click="ticket.message = ''" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<div class="page-header">
	<h1 class="row">
		<span class="font-gradient">Recent Tickets</span>
	</h1>
	<div class="row">
		<a href="/tickets/create" class="btn btn-default col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-3">
			<span class="glyphicon glyphicon-plus"></span> 
			New Ticket
		</a>
		<a href="/tickets" class="btn btn-default col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-3">
			<span class="glyphicon glyphicon-chevron-left"></span> 
			Active Tickets
		</a>
		<a href="/tickets/all" class="btn btn-default col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-3" ng-if="main.location != '/tickets/all'">
			<span class="glyphicon glyphicon-edit"></span> 
			All Tickets
		</a>
	</div>
	<i>Tickets modified within the last 7 days</i><br/>
	<i ng-if="ticket.tickets"><strong ng-if="ticket.tickets.length > 0">{{ ticket.tickets.length }}</strong><span ng-if="ticket.tickets.length <= 0">No</span><span ng-if="ticket.tickets.length > 1 || ticket.tickets.length <= 0"> tickets were found.</span><span ng-if="ticket.tickets.length == 1"> ticket was found.</span></i>

</div>

<div class="jumbotron text-center" ng-show="ticket.processing && !ticket.tickets">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<h3>Loading Tickets...</h3>
</div>

<div class="jumbotron text-center" ng-show="!ticket.processing && ( ticket.tickets.length < 1 || !ticket.tickets )">
	<p>There are no tickets available at this time.</p>
</div>

<div class="form-group has-feedback no-print" ng-show="ticket.tickets && ticket.tickets.length > 0">
	<div class="row">
		<div class="col-xs-8">
			<input type="search" class="form-control search-box" name="searchBox" ng-model="searchBox" placeholder="Search for..." ng-disabled="!ticket.simpleSearch" />
		</div>
		<div class="col-xs-4">
			<a href="" id="advancedbtn" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="false" ng-click="ticket.toggleAdvanced()" onclick="$('#advancedSearch').collapse('toggle');" aria-controls="advancedSearch">Advanced Search <span class="glyphicon glyphicon-menu-up" ng-if="!ticket.simpleSearch"></span><span class="glyphicon glyphicon-menu-down" ng-if="ticket.simpleSearch"></span></a>
		</div>
	</div>
	<div class="collapse" id="advancedSearch">
		<form class="form-horizontal" name="advancedForm" novalidate>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="customer">Customer</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="customer" ng-model="searchBox.customer" ng-disabled="ticket.simpleSearch" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="status">Status</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="status" ng-model="searchBox.status" ng-disabled="ticket.simpleSearch" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="indicator_tag">Tag #</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="indicator_tag" ng-model="searchBox.indicator_tag" ng-disabled="ticket.simpleSearch" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="indicator_manu">Manufacturer</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="indicator_manu" ng-model="searchBox.indicator_manu" ng-disabled="ticket.simpleSearch" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="indicator_model">Model</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="indicator_model" ng-model="searchBox.indicator_model" ng-disabled="ticket.simpleSearch" />
				</div>
			</div>
		</form>
	</div>
</div>

<style>
	@media print {
		table thead tr th:first-child, table tr td:first-child {
			display: none;
		}
	}
</style>

<table ng-cloak id="tickets" class="table table-bordered tbody-striped" ng-show="ticket.tickets && ticket.tickets.length > 0">
	<thead>
		<tr>
			<th></th>
			<th>Company</th>
			<th>Status</th>
			<th>Tag #</th>	
			<th>Manufacturer</th>
			<th>Model</th>
		</tr>
	</thead>
	<tbody ng-repeat="_ticket in ticket.tickets">
			<tr>
				<td><a class='btn btn-primary btn-block' ng-href='/tickets/{{ _ticket.id }}'>View Ticket</a></td>
				<td>{{ _ticket.customer }}<span class="print-only" ng-show="_ticket.workorder"> (WO# {{_ticket.workorder}}) </span></td>
				<td>{{ _ticket.status }}</td>
				<td>{{ _ticket.indicator_tag }}</td>
				<td>{{ _ticket.indicator_manu }}</td>
				<td>{{ _ticket.indicator_model }}</td>
			</tr>
			<tr>
				<td>
					<div class="dropdown">
						<a class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" href="#" role="button">
							<i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Manage
						</a>
						<ul class="dropdown-menu" style="width: 100%;">
							<li>
								<a href="#" ng-href="/tickets/{{ _ticket.id }}/edit">
									<i class="glyphicon glyphicon-pencil"></i> Edit
								</a>
							</li>
							<li ng-if="main.user.role === 'admin'">
								<a href="#" ng-click="ticket.deleteTicket(_ticket.id)">
									<i class="glyphicon glyphicon-trash"></i> Delete
								</a>
							</li>
						</ul>
					</div>
				</td>
				<td colspan="2"><i ng-if="_ticket.created_at" title="{{_ticket.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}">Created: <span class="no-print">Created: {{ _ticket.created_at | amTimeAgo }}</span><span class="print-only">{{_ticket.created_at | amDateFormat:'MM-DD-YYYY h:mm:ss a'}}</span> by <span ng-if="_ticket.created_by">{{ _ticket.created_by }}</span><span ng-if="!_ticket.created_by">Unknown</span></i></td>
				<td colspan="3"><i ng-if="_ticket.updated_at" title="{{_ticket.updated_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}">Last Updated: <span class="no-print">{{ _ticket.updated_at | amTimeAgo }}</span><span class="print-only">{{ _ticket.updated_at | amDateFormat:'MM-DD-YYYY h:mm:ss a'}}</span> by <span ng-if="_ticket.updated_by">{{ _ticket.updated_by }}</span><span ng-if="!_ticket.updated_by">Unknown</span></i></td>
			</tr>
	</tbody>
</table>
