
/*body { padding-top: 50px; }*/
.background {
	background-image: '/assets/img/comet-earth-blur.jpg';
}
.node-header {
	color: #0CBE9B;
	color: rgb(12,190,155);
}

.bold {
	font-weight: bold;
}

.node-comet, .node-header {
	text-shadow: 2px 0px 2px #333;
	text-shadow: 2px 0px 2px rgb(40,40,40);
}

.node-comet {
	color: #5D42FC;
	color: rgb(93,66,252);
	margin-right: -4px;
}

.navbar-nav li {
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

nav, .navbar-nav, .navbar { 
	width: auto;
}

.tbody-striped tbody:nth-child(even) tr td {
	background-color: #F9F9F9;
	background-color: rgb(240,240,240);
}

.tbody-striped tbody:nth-child(odd) tr td {
	background-color: #FFF;
	background-color: rgb(255,255,255);
}

.table-striped tbody tr:nth-child(even) td {
	background-color: #FFF;
	background-color: rgb(255,255,255);
}

table#tickets tr td:first-child {
	width: 20rem;
}

.fixed-ucp {
	display: absolute!important;
	top: -6.8rem;
	right: 1rem;
	z-index: 1;
	float: right;
	list-style: none;
	font-size: 1.1em;
}

ul.visible-xs li a.dropdown-toggle {
	opacity: 0.7;
	color: #fff;
}

ul.visible-xs li a.dropdown-toggle:hover {
	color: #fff;
	opacity: 1.0;
	text-decoration: none;
}

thead tr {
	background-color: #fff;
}

table#tickets tbody tr:first-child td {
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
}

thead tr th {
	background-color: #333;
	background-color: rgb(40,40,40);
	color: white;
	font-weight: bolder;
	border-color: rgb(40,40,40) !important;
	border-top: 2px solid !important;
}

table#ticket tbody tr td {
	text-transform: uppercase;
}

table#events tbody tr:nth-child(2) td:nth-child(2) {
	background-color: #eee;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
 	display: none !important;
}

label {
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,.2) 2px 2px 2px;
}

.comment-container {
	margin-bottom: 1.2em;
	background-color: #fff;
}

.comment-container .row {
	margin-top: -1px;
	border: 1px solid #ddd;
	border: 1px solid rgb(221,221,221);
	padding: 1em .5em;
}

.comment-container .comment-header {
	vertical-align: text-middle;
	background-color: #fff;
}

.comment-container .comment-remarks {
	background-color: #F9F9F9;
	background-color: rgb(249,249,249);
	word-break: break-word;
	padding-bottom: 0.4em;
}

.comment-container .comment-remarks p {
	white-space: pre-line;
}

.comment-container .comment-footer {
	font-size: .9em;
	font-color: #ccc;
	background-color: #fff;
}

.margin-fix {
	margin-left: 1em;
	margin-right: 1em;
	min-width: auto !important;
}

.bg-fill {
	background-color: #fff;
	padding: 2em;
	border-radius: .2em;
}

.opaque {
	opacity: 0.7 !important;
	-webkit-transition: opacity 0.8s ease-in;
	-moz-transition: opacity 0.8s ease-in;
	transition: opacity 0.8s ease-in;
}

.opaque:hover {
	opacity: 1.0 !important;
}

@media only print {
	* {
		font-size: 92% !important;
	}
	
	td, th {
		padding: 2px !important;
	}
	
	body, html, main, * {
		padding-top: 0px !important;
		margin-top: 0px !important;
	}
	
	.no-print {
		display: none;
	}
	
	.btn {
		display: none;
	}
	
	.comment-container, .comment-container .row {
		padding: 0em;
		margin-left: -0.8em;
		border: 0.1em solid #ddd;
	}
}

main {
	padding-top: 3em;
	padding-bottom: 4em;
	min-height: 100rem !important;
}

header .navbar {
	border-radius: 0;
}

footer {
	background-color: #333;
	color: #aaa;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer h4 {
	color: #ddd;
}

.search-box {
	border-radius: 3px !important;
	padding-left: 1em !important;
	border: 1px solid #ddd !important;
	box-shadow: 1px 0 1em #fff !important;
	transition: all 1.5s ease-in-out;
}

.search-box:focus {
	border: 1px solid #93D6F9 !important;
	box-shadow: 1px 0 1em #549FCF !important;
}

.spinner {
	animation: spin 1s infinite;
	-webkit-animation: spin 1s infinite;
	-moz-animation: spin 1s infinite;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

.ng-hide-remove {
	-webkit-animation: fadeInRight 1s both ease;
	-moz-animation: fadeInRight 1s both ease;
	animation: fadeInRight 1s both ease;
}

main .ng-enter {
	-webkit-animation: fadeInRight 1s both ease;
	-moz-animation: fadeInRight 1s both ease;
	animation: fadeInRight 1s both ease;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 767px) {
	.navbar-brand {
		padding-top: 24px;
	}
	
	table#users tbody tr td:nth-child(2), table#users thead tr th:nth-child(2) {
		display: none;
	}
	
	.container {
		overflow: auto;
	}
	
	#tickets tbody tr td:first-child {
		width: 10rem;
	}
	
	.fixed {
		padding: 0px !important;
		min-width: 96%;
		width: 96%;
		overflow: none !important;
		top: 0.5rem;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.navbar-brand {
		padding-top: 23px;
	}
	
	table#users tbody tr td:nth-child(2), table#users thead tr th:nth-child(2) {
		display: table-cell;
	}
	
	.fixed {
		min-width: 720px;
		width: 720px;
		max-width: 720px;
		top: 6rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	table#tickets tbody tr td, table#users tr td {
		-o-transition:color .2s ease-out, background .5s ease-in, border .3s ease-in;
		-ms-transition:color .2s ease-out, background .5s ease-in, border .3s ease-in;
		-moz-transition:color .2s ease-out, background .5s ease-in, border .3s ease-in;
		-webkit-transition:color .2s ease-out, background .5s ease-in, border .3s ease-in;
		transition:color .2s ease-out, background .5s ease-in, border .3s ease-in;
	}
	
	table#tickets tbody:hover tr td, table#users tr:hover td {
		background-color: #444;
		background-color: rgb(60,60,60);
		color: white;
		border-color: #555;
		border-color: rgb(80,80,80);
	}
	
	.fixed {
		min-width: 940px;
		width: 940px;
		max-width: 940px;
		top: 6rem !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.fixed {
		min-width: 1140px;
		width: 1140px;
		max-width: 1140px;
	}
}

.fixed {
	padding: 15px;
	position: fixed !important;
	z-index: 1 !important;
}

.close {
	margin-right: 0.4rem;
}

.gi-1x {
	font-size: 1em;
}

.gi-2x {
	font-size: 2em;
}

.gi-3x {
	font-size: 3em;
}

.gi-4x {
	font-size: 4em;
}

.gi-5x {
	font-size: 5em;
}