<div ng-if="main.user.role === 'mod' || main.user.role === 'admin'">
	<div class="show-hide-message fixed" ng-show="user.message">
		<div class="row alert alert-info alert-dismissable">
			<div class='col-xs-11'>{{ user.message }}</div>
			<button type="button" class="close" ng-click="user.message = ''" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>

	<div class="page-header">
		<h1>Edit User</h1>
	</div>

	<form class="form-horizontal" ng-submit="user.saveUser()" name='userform' novalidate>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">First Name</label>
			<div class="col-sm-6">
				<input type="text" name='firstName' class="form-control" ng-class="[ userform.firstName.$invalid && !userform.firstName.$pristine ? 'has-error' : '', userform.firstName.$valid && !userform.firstName.$pristine ? 'has-success' : '' ]" ng-model="user.userData.firstName" required pattern='^[A-Z][A-Za-z]+'>
				<p ng-show="userform.firstName.$invalid && !userForm.firstName.$pristine" class="help-block alert alert-info">Enter a valid name using only letters and proper capitalization.</p>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Last Name</label>
			<div class="col-sm-6">
				<input type="text" name='lastName' class="form-control" ng-class="[ userform.lastName.$invalid && !userform.lastName.$pristine ? 'has-error' : '', userform.lastName.$valid && !userform.lastName.$pristine ? 'has-success' : '' ]" ng-model="user.userData.lastName" required pattern='[A-Za-z]+'>
				<p ng-show="userform.lastName.$invalid && !userForm.lastName.$pristine" class="help-block alert alert-info">Enter a valid name using only letters and proper capitalization.</p>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Username</label>
			<div class="col-sm-6" ng-if="main.user.role === 'admin'">
				<input type="text" name='username' class="form-control" ng-class="[ userform.username.$invalid && !userform.username.$pristine ? 'has-error' : '', userform.username.$valid && !userform.username.$pristine ? 'has-success' : '' ]" ng-model="user.userData.username" required pattern='^[A-Za-z][A-Za-z0-9]+'>
				<p ng-show="userform.username.$invalid && !userForm.username.$pristine" class="help-block alert alert-info">Enter a valid username that begins with a letter and contains only letters and numbers.</p>
			</div>
			<div class="col-sm-6" ng-if="main.user.role !== 'admin'">
				<input type="text" name='username' class="form-control" ng-model="user.userData.username" disabled>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Email</label>
			<div class="col-sm-6">
				<input type="email" name='email' class="form-control" ng-class="[ userform.email.$invalid && !userform.email.$pristine ? 'has-error' : '', userform.email.$valid && !userform.email.$pristine ? 'has-success' : '' ]" ng-model="user.userData.email" required pattern='^[A-Za-z][A-Za-z0-9]+@[A-Za-z0-9]+\.[A-Za-z]{2,4}'>
				<p ng-show="userform.email.$invalid && !userForm.email.$pristine" class="help-block alert alert-info">Please enter a valid email address.</p>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Role</label>
			<div class="col-sm-6" ng-if="user.userData.role !== main.user.role && user.userData.role !== 'admin'">
				<select name='role' class="form-control" ng-model="user.userData.role" required>
					<option value='user'>User</option>
					<option value='mod' ng-if="main.user.role === 'admin' || main.user.role === 'mod'">Moderator</option>
					<option value='admin' ng-if="main.user.role === 'admin'">Admin</option>
				</select>
			</div>
			<div class="col-sm-6" ng-if="user.userData.role === main.user.role || user.userData.role === 'admin'">
				<select name='role' class="form-control" ng-model="user.userData.role" disabled>
					<option value='user'>User</option>
					<option value='mod'>Moderator</option>
					<option value='admin'>Admin</option>
				</select>
			</div>
		</div>

		<div class="form-group" ng-if="user.userData.role !== main.user.role && user.userData.role !== 'admin'">
			<label class="col-sm-2 control-label">Password</label>
			<div class="col-sm-6">
				<input type="password" name='password' class="form-control" ng-model="user.userData.password" min='6'>
				<p ng-show="userform.password.$invalid && !userForm.password.$pristine" class="help-block alert alert-info">Please enter a password that is at least six characters long.</p>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-6">
				<button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled='userform.$invalid'>Update User</button>
			</div>
		</div>
	</form>
</div>
<div ng-if="main.user.role !== 'mod' && main.user.role !== 'admin'" ng-include="'app/views/pages/403.html'"></div>
