.bold {
	font-weight: bold;
}

%textShadow {
	text-shadow: 2px 0px 2px #333;
	text-shadow: 2px 0px 2px rgb(40,40,40);
}

@mixin bgTransition() {
	-o-transition:color .2s ease-out, background .5s ease-in, border .3s ease-in;
	-ms-transition:color .2s ease-out, background .5s ease-in, border .3s ease-in;
	-moz-transition:color .2s ease-out, background .5s ease-in, border .3s ease-in;
	-webkit-transition:color .2s ease-out, background .5s ease-in, border .3s ease-in;
	transition:color .2s ease-out, background .5s ease-in, border .3s ease-in;
}

@mixin bgHover() {
	background-color: #444;
	background-color: rgb(60,60,60);
	color: white;
	border-color: #555;
	border-color: rgb(80,80,80);
}

.node-header {
	color: #0CBE9B;
	color: rgba(#0CBE9B, 1);
	@extend %textShadow;
}

.node-comet {
	color: #5D42FC;
	color: rgba(#5D42FC, 1);
	margin-right: -4px;
	@extend %textShadow;
}

nav, .navbar-nav, .navbar {
	width: auto;
}

.navbar-nav li {
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.tbody-striped {
	& tbody {
		&:nth-child(even) tr td {
			background-color: #F9F9F9;
			background-color: rgba(#F9F9F9, 1);
		}
		
		&:nth-child(odd) tr td {
			background-color: #FFF;
			background-color: rgba(#FFF, 1);
		}
		
		& tr:nth-child(even) td {
			background-color: #FFF;
			background-color: rgba(#FFF, 1);
		}
	}
}

table#tickets {
	& tr {
		& td:first-child {
			width: 20rem;
		}
	}
	
	& tbody {
		& tr:first-child td {
			font-size: 1.1em;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		@media screen and (min-width: 992px) {
			& tr td {
				@include bgTransition();
			}
			
			&:hover tr td {
				@include bgHover();
			}
		}
	}
}

